<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="1.0">

  <persistence-unit name="lifewayDLTPU" transaction-type="RESOURCE_LOCAL">
  		<properties>
			<property name="hibernate.default_schema" value="${jdbc.default_schema}"/>
			<property name="hibernate.dialect" value="${db.hibernateDialect}" />
			<property name="hibernate.hbm2ddl.auto" value="${hibernate.hbm2ddl.auto}" />
			<property name="hibernate.validator.fail_fast" value="true" />
		</properties>
  </persistence-unit>

</persistence>